/*
 *Name: Reba Aliah Mathews
 *UnityID: raliahm
 *Date: 9/23/2021
 *Assignment: Webpages GL
 *Description: Guided Lab assignment, about me webpage
 */
 
p {
	font-family: Times;
	font-size: 16px:
	color: #FFFFFF;
	
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resized {
	max-width:250px;
	max-height:300px;
}
